.DS_Store
__pycache__/
*.egg-info/
*.py[cod]
.pytest_cache/
.mkdocs-source/
.coverage
htmlcov/
.venv/
venv/
.env
settings.toml
secrets.py
device_backups/
build/
dist/
site/
*.uf2
*.bin
*.mpy
*.inspect.ndjson
.work/
